<div class="error">
  <p><span class="title_light">Oops</span><span class="title_separator_light">...</span>our site seems to be taking a nap<span class="title_separator_light">!</span></p>
  <p class="lead">We've already been notified and should get it back up and running in no time...</p>
</div>
