<div class="carousel-caption">
	<%= render :partial => "navigation", 
								:collection 		=>		@years,
								:locals 				=>		{ :position => position }
	%>
	<a id="close_show" href="#">close this...</a>
</div>