<div class="carousel-caption">
	<%= render :partial => "carousel_navigation", 
								:collection 		=>		carousel_timeline, :as => :carousel_navigation,
								:locals 				=>		{ :position => position }
	%>
</div>