<div class="item <% if position == 0 %>active <% end %>item-slide">
	<div class="carousel-slide">
	  <h1 class="slide_title"><%= title %></h1>
		<%= picture %>
	  <%= description %>
	</div>
	<%= render :partial => "carousel_caption", 
							:locals 				=>		{ :position => position }
	%>
</div>