<div class="carousel-caption">
	<%= render :partial => "navigation", 
								:collection 		=>		@years,
								:locals 				=>		{ :position => position }
	%>
	<%= link_to "close this...", "#", :class => "close_show" %>
</div>