<script>
  $(document).ready(function(){
    $('.carousel').carousel({
			interval: false
		});
  });
</script>


<!-- /.carousel -->

<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
			<div class="carousel-slide">
				<div class="main_pic"></div>
        <h1><span class="title_light">Ma</span><span class="title_separator_light">.</span><span class="title_light">ier</span>Al<span class="title_separator">.</span>in</h1>
        <p class="lead">Prince2 certified IT Project Manager / Business Analyst with proven track record of delivery in international technology transformation programmes in investment, commercial and retail banking. Previous technology startup experience. <abbr title="Master of Business Administration">MBA</abbr> and MSc in IT Management degrees.</p>
			</div>
			<div class="carousel-caption">
				<a id="btn-l" class="btn btn-large btn-success" href="#">Read my CV &#9660;</a>
        <a id="btn-r" class="btn btn-large btn-success" data-target="#myCarousel" data-slide-to="1" href="#">View my life story &#9654;</a>
      </div>
    </div>
    <div class="item">
      <img src="http://media.rtv.net/image/201203/full/academia_de_studii_economice_ase_13485200.jpg" alt="" />
      <div class="carousel-caption">
        <h4>Second Thumbnail label</h4>
        <p>2 Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x480" alt="" />
      <div class="carousel-caption">
			  <ol class="">
			    <li data-target="#myCarousel" data-slide-to="0" class="active">ijiejfie</li>
			    <li data-target="#myCarousel" data-slide-to="1" class="">eew</li>
			    <li data-target="#myCarousel" data-slide-to="2" class="">wji</li>
			  </ol>
			</div>
    </div>
  </div>
</div>

<!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel -->