<a class="btn btn-large btn-success <%= year_format(navigation_counter, position, "btn-l", "btn-active", "btn-r") %> year_box" data-target="#myCarousel" data-slide-to="<%= navigation_counter -%>" href="#"><%= navigation -%></a>
