<div class="side_item_box">
  <p class="side_item_container"><%= link_to industry.name.capitalize, "#", :class => "side_item", "data-industry-name" => industry.name.capitalize -%></p>
    <p class="side_info"><%= calc_duration_industries(industry.companies) %></p>
</div>