<div class="side_item_box">
  <p class="side_item_container"><%= link_to job_title.title_long, "#", :class => "side_item", "data-job-title" => job_title.title_long -%></p>
  <p class="side_info">(<%= calculate_duration(job_title.records) %>)</p>
</div>