<% unless school.education_records[0].is_certification? then %>
  <div class="side_item_box">  
    <p class="side_item_container"><%= link_to school.name, "#", :class => "side_item", "data-school-name" => school.name -%></p>
    <p class="side_info">(<%= calculate_duration(school.education_records) %>)</p>
  </div>
<% end %>