<div class="side_item_box">  
  <p class="side_item_container"><%= link_to location.city + ", " + location.country, "#", :class => "side_item", "data-location-name" => location.city + ", " + location.country -%></p>
  <p class="side_info">(1.2 years)</p>
</div>