<div class="section">
	<h1>Work experience<span class="title_separator_light">:</span></h1>
	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
</div>

<div class="section">
	<h1>Education<span class="title_separator_light">:</span></h1>
	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
</div>

<div class="section">
	<h1>Skills<span class="title_separator_light">:</span></h1>
	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
</div>

<div class="section">
	<h1>Languages<span class="title_separator_light">:</span></h1>
	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
</div>

<div class="section">
	<h1>Hobbies<span class="title_separator_light">:</span></h1>
	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
</div>