// Place all the styles related to the cv controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "bootstrap-responsive";

body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 1024px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 0px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}



/* embedded fonts */

@font-face {
	font-family: 'ChunkFiveRegular';
	src: font-url('Chunkfive-webfont.eot');
	src: font-url('Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
	     font-url('Chunkfive-webfont.woff') format('woff'),
	     font-url('Chunkfive-webfont.ttf') format('truetype'),
	     font-url('Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'SourceSansProSemiboldItalic';
    src: font-url('SourceSansPro-SemiboldIt-webfont.eot');
    src: font-url('SourceSansPro-SemiboldIt-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-SemiboldIt-webfont.woff') format('woff'),
         font-url('SourceSansPro-SemiboldIt-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-SemiboldIt-webfont.svg#SourceSansProSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBold';
    src: font-url('SourceSansPro-Bold-webfont.eot');
    src: font-url('SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-Bold-webfont.woff') format('woff'),
         font-url('SourceSansPro-Bold-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-Bold-webfont.svg#SourceSansProBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBoldItalic';
    src: font-url('SourceSansPro-BoldIt-webfont.eot');
    src: font-url('SourceSansPro-BoldIt-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-BoldIt-webfont.woff') format('woff'),
         font-url('SourceSansPro-BoldIt-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-BoldIt-webfont.svg#SourceSansProBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBlack';
    src: font-url('SourceSansPro-Black-webfont.eot');
    src: font-url('SourceSansPro-Black-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-Black-webfont.woff') format('woff'),
         font-url('SourceSansPro-Black-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-Black-webfont.svg#SourceSansProBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBlackItalic';
    src: font-url('SourceSansPro-BlackIt-webfont.eot');
    src: font-url('SourceSansPro-BlackIt-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-BlackIt-webfont.woff') format('woff'),
         font-url('SourceSansPro-BlackIt-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-BlackIt-webfont.svg#SourceSansProBlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProExtraLight';
    src: font-url('SourceSansPro-ExtraLight-webfont.eot');
    src: font-url('SourceSansPro-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-ExtraLight-webfont.woff') format('woff'),
         font-url('SourceSansPro-ExtraLight-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-ExtraLight-webfont.svg#SourceSansProExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProExtraLightItalic';
    src: font-url('SourceSansPro-ExtraLightIt-webfont.eot');
    src: font-url('SourceSansPro-ExtraLightIt-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-ExtraLightIt-webfont.woff') format('woff'),
         font-url('SourceSansPro-ExtraLightIt-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-ExtraLightIt-webfont.svg#SourceSansProExtraLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProLight';
    src: font-url('SourceSansPro-Light-webfont.eot');
    src: font-url('SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-Light-webfont.woff') format('woff'),
         font-url('SourceSansPro-Light-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-Light-webfont.svg#SourceSansProLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProLightItalic';
    src: font-url('SourceSansPro-LightIt-webfont.eot');
    src: font-url('SourceSansPro-LightIt-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-LightIt-webfont.woff') format('woff'),
         font-url('SourceSansPro-LightIt-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-LightIt-webfont.svg#SourceSansProLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProRegular';
    src: font-url('SourceSansPro-Regular-webfont.eot');
    src: font-url('SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-Regular-webfont.woff') format('woff'),
         font-url('SourceSansPro-Regular-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProItalic';
    src: font-url('SourceSansPro-It-webfont.eot');
    src: font-url('SourceSansPro-It-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-It-webfont.woff') format('woff'),
         font-url('SourceSansPro-It-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-It-webfont.svg#SourceSansProItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProSemibold';
    src: font-url('SourceSansPro-Semibold-webfont.eot');
    src: font-url('SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-Semibold-webfont.woff') format('woff'),
         font-url('SourceSansPro-Semibold-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-Semibold-webfont.svg#SourceSansProSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SpecialEliteRegular';
    src: url('SpecialElite-webfont.eot');
    src: url('SpecialElite-webfont.eot?#iefix') format('embedded-opentype'),
         url('SpecialElite-webfont.woff') format('woff'),
         url('SpecialElite-webfont.ttf') format('truetype'),
         url('SpecialElite-webfont.svg#SpecialEliteRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsLight';
    src: url('BPdotsLight-webfont.eot');
    src: url('BPdotsLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsLight-webfont.woff') format('woff'),
         url('BPdotsLight-webfont.ttf') format('truetype'),
         url('BPdotsLight-webfont.svg#BPdotsLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsRegular';
    src: url('BPdots-webfont.eot');
    src: url('BPdots-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdots-webfont.woff') format('woff'),
         url('BPdots-webfont.ttf') format('truetype'),
         url('BPdots-webfont.svg#BPdotsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsBold';
    src: url('BPdotsBold-webfont.eot');
    src: url('BPdotsBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsBold-webfont.woff') format('woff'),
         url('BPdotsBold-webfont.ttf') format('truetype'),
         url('BPdotsBold-webfont.svg#BPdotsBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsSquaresLight';
    src: url('BPdotsSquareLight-webfont.eot');
    src: url('BPdotsSquareLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsSquareLight-webfont.woff') format('woff'),
         url('BPdotsSquareLight-webfont.ttf') format('truetype'),
         url('BPdotsSquareLight-webfont.svg#BPdotsSquaresLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsSquaresRegular';
    src: url('BPdotsSquare-webfont.eot');
    src: url('BPdotsSquare-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsSquare-webfont.woff') format('woff'),
         url('BPdotsSquare-webfont.ttf') format('truetype'),
         url('BPdotsSquare-webfont.svg#BPdotsSquaresRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsSquaresBold';
    src: url('BPdotsSquareBold-webfont.eot');
    src: url('BPdotsSquareBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsSquareBold-webfont.woff') format('woff'),
         url('BPdotsSquareBold-webfont.ttf') format('truetype'),
         url('BPdotsSquareBold-webfont.svg#BPdotsSquaresBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsDiamondLight';
    src: url('BPdotsDiamondLight-webfont.eot');
    src: url('BPdotsDiamondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsDiamondLight-webfont.woff') format('woff'),
         url('BPdotsDiamondLight-webfont.ttf') format('truetype'),
         url('BPdotsDiamondLight-webfont.svg#BPdotsDiamondLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsDiamondRegular';
    src: url('BPdotsDiamond-webfont.eot');
    src: url('BPdotsDiamond-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsDiamond-webfont.woff') format('woff'),
         url('BPdotsDiamond-webfont.ttf') format('truetype'),
         url('BPdotsDiamond-webfont.svg#BPdotsDiamondRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsDiamondBold';
    src: url('BPdotsDiamondBold-webfont.eot');
    src: url('BPdotsDiamondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsDiamondBold-webfont.woff') format('woff'),
         url('BPdotsDiamondBold-webfont.ttf') format('truetype'),
         url('BPdotsDiamondBold-webfont.svg#BPdotsDiamondBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsPlusRegular';
    src: url('BPdotsPlus-webfont.eot');
    src: url('BPdotsPlus-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsPlus-webfont.woff') format('woff'),
         url('BPdotsPlus-webfont.ttf') format('truetype'),
         url('BPdotsPlus-webfont.svg#BPdotsPlusRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsPlusBold';
    src: url('BPdotsPlusBold-webfont.eot');
    src: url('BPdotsPlusBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsPlusBold-webfont.woff') format('woff'),
         url('BPdotsPlusBold-webfont.ttf') format('truetype'),
         url('BPdotsPlusBold-webfont.svg#BPdotsPlusBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsMinusRegular';
    src: url('BPdotsMinus-webfont.eot');
    src: url('BPdotsMinus-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsMinus-webfont.woff') format('woff'),
         url('BPdotsMinus-webfont.ttf') format('truetype'),
         url('BPdotsMinus-webfont.svg#BPdotsMinusRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsMinusBold';
    src: url('BPdotsMinusBold-webfont.eot');
    src: url('BPdotsMinusBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsMinusBold-webfont.woff') format('woff'),
         url('BPdotsMinusBold-webfont.ttf') format('truetype'),
         url('BPdotsMinusBold-webfont.svg#BPdotsMinusBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsVerticalRegular';
    src: url('BPdotsVertical-webfont.eot');
    src: url('BPdotsVertical-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsVertical-webfont.woff') format('woff'),
         url('BPdotsVertical-webfont.ttf') format('truetype'),
         url('BPdotsVertical-webfont.svg#BPdotsVerticalRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsVerticalBold';
    src: url('BPdotsVerticalBold-webfont.eot');
    src: url('BPdotsVerticalBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsVerticalBold-webfont.woff') format('woff'),
         url('BPdotsVerticalBold-webfont.ttf') format('truetype'),
         url('BPdotsVerticalBold-webfont.svg#BPdotsVerticalBold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* sass variables */

$base_dark_color: #000000;
$title_txt: 'ChunkFiveRegular';
$body_side_spacing: 30px;

/* bootstrap marketing template customization */

/*@media (max-width: 700px) {
  .jumbotron {display:none}
}*/

body {
	padding-left:$body_side_spacing;
	padding-right:$body_side_spacing;
}

.jumbotron {
	margin: 0px 0px 40px 0px;
	padding-top: 10px;
	h1 {
		font-family: $title_txt, Arial, sans-serif;
		color: $base_dark_color;
		text-shadow: lighten($base_dark_color, 80%) 0px 0px 2px;
		font-size: 5.35em;
	}
	
	.btn {
	  font-size: 23px;
		padding: 14px 8px 14px 8px;
	}
	
}

.lead {
	font-family: SourceSansProSemiboldItalic, sans-serif;
	text-shadow: lighten($base_dark_color, 70%) 0px 0px 2px;
	margin-bottom: 20px;
}

.masthead { 
	h3 {
  text-align: center;
  font-family: 'BPdotsLight';
	color: #222222;
	font-size: 1.35em;
	}
}

.row-fluid {
	margin-top: 40px;
	margin-bottom: 40px;
	.span4, .span8 {
		p {
		font-family: 'SourceSansProLight', Arial, sans-serif;
		margin-bottom: 1.05em;
		color: lighten($base_dark_color, 35%);
		font-size: 1.05em;
		}
	}

	.span8 {
		h1 {
			font-family: $title_txt, Arial, sans-serif;
			color: lighten($base_dark_color, 15%);
			margin-bottom: 1.01em;
			font-size: 3.75em;
			text-shadow: lighten($base_dark_color, 70%) 0px 0px 2px;
		}
	}
	
	.span4 {
		h4 {
			font-family: $title_txt, Arial, sans-serif;
			color: lighten($base_dark_color, 15%);
			font-size: 2.55em;
			line-height: 0.69em;
			margin-bottom: 0.55em;
			text-shadow: lighten($base_dark_color, 70%) 0px 0px 2px;
		}
	}
}

@media (min-width: 767px) {
	.row-fluid .span4 {
		padding-left: 16px;
	}
}

.marketing p + h4, #after_gmaps {
  margin-top: 50px;
}

.btn, .btn-large, .btn-success {
	font-family: $title_txt, Arial, sans-serif;
	text-shadow: #333333 0px 0px 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-image: none;
	background-color: #01B0F0;
	border-width: 0px;
}

.btn-r {
	background-color: #01b0f0;
}

.btn-l {
	background-color: #595959;
	margin-right: 6.01%;
}

@media (max-width: 569px) {
  .btn-l {
		margin-left: 6.01%;
		margin-bottom: 28px;
	}
}

.btn-active {
	background-color: #000000;
	color: #ffffff;
}

.btn-r:focus, .btn-r:active, .btn-r:visited {
	background-color: #01b0f0;
}

.btn-r:hover {
	text-shadow: darken(#01B0F0, 20%) 0px 0px 2px;
	text-decoration:underline;
	background-color: darken(#01b0f0, 5%);
}

.btn-l:focus, .btn-l:active, .btn-l:visited {
	background-color: #595959;
}

.btn-l:hover {
	text-shadow: lighten($base_dark_color, 0%) 0px 0px 2px;
	text-decoration:underline;
	background-color: lighten(#595959, 10%);
}

.btn-active:focus, .btn-active:active, .btn-active:visited {
	background-color: #000000;
}

.btn-active:hover {
	text-shadow: lighten(#ffffff, 10%) 0px 0px 2px;
	text-decoration:underline;
	background-color: lighten(#000000, 10%);
}

.year_box {
	margin: 0px 0px 4px 0px;
}

.title_light {
	color: lighten($base_dark_color, 35%);
}

.title_separator {
/*	color: lighten($base_dark_color, 25%); */
	font-size: 1.35em;
}

.title_separator_light {
	color: lighten($base_dark_color, 35%);
	font-size: 1.35em;
}

div.footer {
	font-family: $title_txt, Arial, sans-serif;
	color: $base_dark_color;
	font-size: 1.95em;
	text-align: center;
	text-shadow: #999999 0px 0px 2px;
}


/* carousel customization */

.carousel-caption {
	position: static;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #ffffff;
	
	.carousel-caption h4 {
	  margin: 0 0 5px;
	}

	.carousel-caption p {
	  margin-bottom: 0;
	}
}

.carousel-control {
	top: 40px;
}



/*site-specific css*/

.main_pic {
	display: inline-block;
	background: #ffffff;
	width:130px;
	height:130px;
	text-align:center;
	vertixal-align:middle;
	-webkit-border-radius: 90px;
	border-radius: 90px;
	border-style: solid;
	border-width: 7px;
	border-color: #595959;
	background-image: url(http://media.rtv.net/image/201203/full/academia_de_studii_economice_ase_13485200.jpg);
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	background-position-x: 0px;
	background-position-y: 0px;
	margin-bottom: 10px;
}

.slider_pic {
	display: inline-block;
	background: #ffffff;
	width:80%;
	height:130px;
	text-align:center;
	vertixal-align:middle;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-image: url(http://media.rtv.net/image/201203/full/academia_de_studii_economice_ase_13485200.jpg);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: -280px;
	margin-bottom: 30px;
	margin-top: -10px;
}

.slide_pic {
	display: inline-block;
	background: #ffffff;
	width:30%;
	height:130px;
	text-align:center;
	vertical-align:middle;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	margin-bottom: 30px;
	margin-top: -10px;
}

.slide_title {
	margin-bottom: 40px;
	margin-top: 0px;
}

.pres-ctrl {
	top: 36px;
}

.pres-ctrl-narrow {
	top: 0px;
	width:40px;
	height:40px;
}

.pres-ctrl:hover, .pres-ctrl-narrow:hover {
	text-decoration:none;
}

@media (max-width: 940px) {
	.pres-ctrl {
		display: none;
	}
}

.carousel-controls-narrow {
	position:relative;
	width: 140px;
	height: 40px;
	text-align: center;
	display: inline-block;
	margin-top:30px;
}

@media (min-width: 941px) {
	.carousel-controls-narrow {
		display: none;
	}
}

.btn-l2 {
	margin-left: 0px;
	margin-right: 0px;
}

.slide-item {
	margin-bottom: 10px;
}

.carousel-caption {
	padding-top: 20px;
	background-color: transparent;
}

.item-slide {
	padding: 0px;
}