// Place all the styles related to the cv controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "bootstrap-responsive";

body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 1024px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 0px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}



/* embedded fonts */

@font-face {
	font-family: 'ChunkFiveRegular';
	src: font-url('Chunkfive-webfont.eot');
	src: font-url('Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
	     font-url('Chunkfive-webfont.woff') format('woff'),
	     font-url('Chunkfive-webfont.ttf') format('truetype'),
	     font-url('Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'SourceSansProSemiboldItalic';
    src: font-url('SourceSansPro-SemiboldIt-webfont.eot');
    src: font-url('SourceSansPro-SemiboldIt-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-SemiboldIt-webfont.woff') format('woff'),
         font-url('SourceSansPro-SemiboldIt-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-SemiboldIt-webfont.svg#SourceSansProSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBold';
    src: font-url('SourceSansPro-Bold-webfont.eot');
    src: font-url('SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-Bold-webfont.woff') format('woff'),
         font-url('SourceSansPro-Bold-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-Bold-webfont.svg#SourceSansProBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBoldItalic';
    src: font-url('SourceSansPro-BoldIt-webfont.eot');
    src: font-url('SourceSansPro-BoldIt-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-BoldIt-webfont.woff') format('woff'),
         font-url('SourceSansPro-BoldIt-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-BoldIt-webfont.svg#SourceSansProBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBlack';
    src: font-url('SourceSansPro-Black-webfont.eot');
    src: font-url('SourceSansPro-Black-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-Black-webfont.woff') format('woff'),
         font-url('SourceSansPro-Black-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-Black-webfont.svg#SourceSansProBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBlackItalic';
    src: font-url('SourceSansPro-BlackIt-webfont.eot');
    src: font-url('SourceSansPro-BlackIt-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-BlackIt-webfont.woff') format('woff'),
         font-url('SourceSansPro-BlackIt-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-BlackIt-webfont.svg#SourceSansProBlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProExtraLight';
    src: font-url('SourceSansPro-ExtraLight-webfont.eot');
    src: font-url('SourceSansPro-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-ExtraLight-webfont.woff') format('woff'),
         font-url('SourceSansPro-ExtraLight-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-ExtraLight-webfont.svg#SourceSansProExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProExtraLightItalic';
    src: font-url('SourceSansPro-ExtraLightIt-webfont.eot');
    src: font-url('SourceSansPro-ExtraLightIt-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-ExtraLightIt-webfont.woff') format('woff'),
         font-url('SourceSansPro-ExtraLightIt-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-ExtraLightIt-webfont.svg#SourceSansProExtraLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProLight';
    src: font-url('SourceSansPro-Light-webfont.eot');
    src: font-url('SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-Light-webfont.woff') format('woff'),
         font-url('SourceSansPro-Light-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-Light-webfont.svg#SourceSansProLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProLightItalic';
    src: font-url('SourceSansPro-LightIt-webfont.eot');
    src: font-url('SourceSansPro-LightIt-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-LightIt-webfont.woff') format('woff'),
         font-url('SourceSansPro-LightIt-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-LightIt-webfont.svg#SourceSansProLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProRegular';
    src: font-url('SourceSansPro-Regular-webfont.eot');
    src: font-url('SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-Regular-webfont.woff') format('woff'),
         font-url('SourceSansPro-Regular-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProItalic';
    src: font-url('SourceSansPro-It-webfont.eot');
    src: font-url('SourceSansPro-It-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-It-webfont.woff') format('woff'),
         font-url('SourceSansPro-It-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-It-webfont.svg#SourceSansProItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProSemibold';
    src: font-url('SourceSansPro-Semibold-webfont.eot');
    src: font-url('SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SourceSansPro-Semibold-webfont.woff') format('woff'),
         font-url('SourceSansPro-Semibold-webfont.ttf') format('truetype'),
         font-url('SourceSansPro-Semibold-webfont.svg#SourceSansProSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SpecialEliteRegular';
    src: url('SpecialElite-webfont.eot');
    src: url('SpecialElite-webfont.eot?#iefix') format('embedded-opentype'),
         url('SpecialElite-webfont.woff') format('woff'),
         url('SpecialElite-webfont.ttf') format('truetype'),
         url('SpecialElite-webfont.svg#SpecialEliteRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsLight';
    src: url('BPdotsLight-webfont.eot');
    src: url('BPdotsLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsLight-webfont.woff') format('woff'),
         url('BPdotsLight-webfont.ttf') format('truetype'),
         url('BPdotsLight-webfont.svg#BPdotsLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsRegular';
    src: url('BPdots-webfont.eot');
    src: url('BPdots-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdots-webfont.woff') format('woff'),
         url('BPdots-webfont.ttf') format('truetype'),
         url('BPdots-webfont.svg#BPdotsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsBold';
    src: url('BPdotsBold-webfont.eot');
    src: url('BPdotsBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsBold-webfont.woff') format('woff'),
         url('BPdotsBold-webfont.ttf') format('truetype'),
         url('BPdotsBold-webfont.svg#BPdotsBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsSquaresLight';
    src: url('BPdotsSquareLight-webfont.eot');
    src: url('BPdotsSquareLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsSquareLight-webfont.woff') format('woff'),
         url('BPdotsSquareLight-webfont.ttf') format('truetype'),
         url('BPdotsSquareLight-webfont.svg#BPdotsSquaresLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsSquaresRegular';
    src: url('BPdotsSquare-webfont.eot');
    src: url('BPdotsSquare-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsSquare-webfont.woff') format('woff'),
         url('BPdotsSquare-webfont.ttf') format('truetype'),
         url('BPdotsSquare-webfont.svg#BPdotsSquaresRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsSquaresBold';
    src: url('BPdotsSquareBold-webfont.eot');
    src: url('BPdotsSquareBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsSquareBold-webfont.woff') format('woff'),
         url('BPdotsSquareBold-webfont.ttf') format('truetype'),
         url('BPdotsSquareBold-webfont.svg#BPdotsSquaresBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsDiamondLight';
    src: url('BPdotsDiamondLight-webfont.eot');
    src: url('BPdotsDiamondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsDiamondLight-webfont.woff') format('woff'),
         url('BPdotsDiamondLight-webfont.ttf') format('truetype'),
         url('BPdotsDiamondLight-webfont.svg#BPdotsDiamondLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsDiamondRegular';
    src: url('BPdotsDiamond-webfont.eot');
    src: url('BPdotsDiamond-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsDiamond-webfont.woff') format('woff'),
         url('BPdotsDiamond-webfont.ttf') format('truetype'),
         url('BPdotsDiamond-webfont.svg#BPdotsDiamondRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsDiamondBold';
    src: url('BPdotsDiamondBold-webfont.eot');
    src: url('BPdotsDiamondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsDiamondBold-webfont.woff') format('woff'),
         url('BPdotsDiamondBold-webfont.ttf') format('truetype'),
         url('BPdotsDiamondBold-webfont.svg#BPdotsDiamondBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsPlusRegular';
    src: url('BPdotsPlus-webfont.eot');
    src: url('BPdotsPlus-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsPlus-webfont.woff') format('woff'),
         url('BPdotsPlus-webfont.ttf') format('truetype'),
         url('BPdotsPlus-webfont.svg#BPdotsPlusRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsPlusBold';
    src: url('BPdotsPlusBold-webfont.eot');
    src: url('BPdotsPlusBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsPlusBold-webfont.woff') format('woff'),
         url('BPdotsPlusBold-webfont.ttf') format('truetype'),
         url('BPdotsPlusBold-webfont.svg#BPdotsPlusBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsMinusRegular';
    src: url('BPdotsMinus-webfont.eot');
    src: url('BPdotsMinus-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsMinus-webfont.woff') format('woff'),
         url('BPdotsMinus-webfont.ttf') format('truetype'),
         url('BPdotsMinus-webfont.svg#BPdotsMinusRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsMinusBold';
    src: url('BPdotsMinusBold-webfont.eot');
    src: url('BPdotsMinusBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsMinusBold-webfont.woff') format('woff'),
         url('BPdotsMinusBold-webfont.ttf') format('truetype'),
         url('BPdotsMinusBold-webfont.svg#BPdotsMinusBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsVerticalRegular';
    src: url('BPdotsVertical-webfont.eot');
    src: url('BPdotsVertical-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsVertical-webfont.woff') format('woff'),
         url('BPdotsVertical-webfont.ttf') format('truetype'),
         url('BPdotsVertical-webfont.svg#BPdotsVerticalRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPdotsVerticalBold';
    src: url('BPdotsVerticalBold-webfont.eot');
    src: url('BPdotsVerticalBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdotsVerticalBold-webfont.woff') format('woff'),
         url('BPdotsVerticalBold-webfont.ttf') format('truetype'),
         url('BPdotsVerticalBold-webfont.svg#BPdotsVerticalBold') format('svg');
    font-weight: normal;
    font-style: normal;

}










/* bootstrap marketing template width customization */


$span8_width_all: 68.95745%;
$span8_width_all_star: 68.90426%;
$span4_width_all: 28.91489%;
$span4_width_all_star: 28.8617%;

$span8_width_min1200: 68.81197%;
$span8_width_min1200_star: 68.75877%;
$span4_width_min1200: 28.62393%;
$span4_width_min1200_star: 28.57074%;

$span8_width_min868_max979: 68.74586%;
$span8_width_min868_max979_star: 68.69266%;
$span4_width_min868_max979: 28.49171%;
$span4_width_min868_max979_star: 28.43852%;



/* 100% for @media {max-wdth: 767px} */


/* @media all */

/* line 582, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.span8 {
  width: 620px;
}
/* line 582, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.span4 {
  width: 300px;
}
/* line 608, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.12766%;
  *margin-left: 2.07447%;
}
/* line 614, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
/* line 619, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.12766%;
}







/* line 631, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.row-fluid .span8 {
  width: $span8_width_all;
  *width: $span8_width_all_star;
}
/* line 631, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.row-fluid .span4 {
  width: $span4_width_all;
  *width: $span4_width_all_star;
  padding-left: 36px;
}









@media (min-width: 1200px) {
  /* line 561, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
  }

  /* line 582, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
  .span8 {
    width: 770px;
  }

  /* line 582, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
  .span4 {
    width: 370px;
  }

  /* line 605, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  /* line 608, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.5641%;
    *margin-left: 2.51091%;
  }
  /* line 614, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  /* line 619, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.5641%;
  }
  
  
  
  
  
  
  /* line 631, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
  .row-fluid .span8 {
    width: $span8_width_min1200;
    *width: $span8_width_min1200_star;
  }
  /* line 631, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
  .row-fluid .span4 {
    width: $span4_width_min1200;
    *width: $span4_width_min1200_star;
    padding-left: 36px;
  }
}






@media (min-width: 980px) {
  /* line 184, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_responsive-navbar.scss */
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}








@media (min-width: 868px) and (max-width: 979px) {
  /* line 561, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }

  /* line 582, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
  .span8 {
    width: 476px;
  }

  /* line 582, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
  .span4 {
    width: 228px;
  }

  /* line 605, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  
  
  
  
  
  
  /* line 631, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
  .row-fluid .span8 {
    width: $span8_width_min868_max979;
    *width: $span8_width_min868_max979_star;
  }
  /* line 631, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
  .row-fluid .span4 {
    width: $span4_width_min868_max979;
    *width: $span4_width_min868_max979_star;
    padding-left: 36px;
  }
}






@media (max-width: 867px) {
  /* line 47, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_responsive-767px-max.scss */
  .row-fluid {
    width: 100%;
  }

  /* line 62, ../../../../../.rvm/gems/ruby-1.9.3-p362@rails32/gems/bootstrap-sass-2.3.0.1/vendor/assets/stylesheets/bootstrap/_responsive-767px-max.scss */
  [class*="span"],
  .uneditable-input[class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .row-fluid .span8, .row-fluid .span4 {
    width:100%;
    margin-left: 0px;
    padding-left: 0px;
  }
}








/* sass variables */

$base_dark_color: #000000;
$title_txt: 'ChunkFiveRegular';
$body_side_spacing: 30px;

/* bootstrap marketing template customization */

body {
	padding-left:$body_side_spacing;
	padding-right:$body_side_spacing;
}

.jumbotron {
	margin: 0px 0px 40px 0px;
	padding-top: 0px;
	h1 {
		font-family: $title_txt, Arial, sans-serif;
		color: $base_dark_color;
		text-shadow: lighten($base_dark_color, 80%) 0px 0px 2px;
		font-size: 5.35em;
		margin-top: 0px;
		padding:0px 0px 10px 0px;
		line-height: 0.91em;
	}
	
	.btn {
	  font-size: 23px;
		padding: 17px 24px 5px 5px;
	}
	
}

@media (max-width: 500px) {
  .jumbotron {
    h1 {
      font-size: 4.01em;
    }
  }
}

.lead {
	font-family: SourceSansProSemiboldItalic, sans-serif;
	text-shadow: lighten($base_dark_color, 70%) 0px 0px 2px;
	margin-bottom: 20px;
}

.masthead { 
	h3 {
    text-align: center;
    font-family: 'SourceSansProLight', Arial, sans-serif;
  	color: #222222;
  	font-weight: normal;
  	font-size: 1.45em;
  	margin: 0px;
	}
	span.head_separator {
	  display: inline-block;
	  margin: 0px 7px;
	  font-size: 1.55em;
    color: lighten(#333333, 30%);
	}
}

.row-fluid {
	margin-top: 40px;
	margin-bottom: 20px;
	.span4, .span8 {
		p {
		font-family: 'SourceSansProLight', Arial, sans-serif;
		margin-bottom: 0.55em;
		color: lighten($base_dark_color, 35%);
		font-size: 1.05em;
		}
	}

	.span8 {
		h1 {
			font-family: $title_txt, Arial, sans-serif;
			color: lighten($base_dark_color, 15%);
			margin-bottom: 30px;
			font-size: 3.39em;
			text-shadow: lighten($base_dark_color, 70%) 0px 0px 2px;
		}
		h3 {
		  font-family: 'SourceSansProLight', Arial, sans-serif;
		  font-size: 1.35em;
      line-height: 1.21em;
      font-weight: normal;
      
      span.record_job_title {
  		  font-family: 'SourceSansProSemibold', Arial, sans-serif;
      }
      span.record_dates {
        font-style: italic;
      }
      span.record_separator {
        display: inline-block;
        margin: 0px 8px;
        font-size: 1.55em;
        color: lighten(#333333, 30%);
      }
		}
	}
	
	.span4 {
		h4 {
			font-family: $title_txt, Arial, sans-serif;
			color: lighten($base_dark_color, 15%);
			font-size: 2.25em;
			line-height: 0.69em;
			margin-bottom: 0.55em;
			text-shadow: lighten($base_dark_color, 70%) 0px 0px 2px;
		}
	}
}

.marketing p + h4, #after_gmaps {
  margin-top: 50px;
}

.btn, .btn-large, .btn-success {
  font-family: 'SourceSansProRegular', Arial, sans-serif;
  font-size: 1.35em;
  line-height: 1.01em;
  font-weight: normal;
  text-shadow: #333333 0px 0px 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-image: none;
	background-color: #01B0F0;
	border-width: 0px 0px 5px 0px;
}

.btn-r {
	background-color: #01b0f0;
	border-color: darken(#01b0f0, 10%);
}

.btn-l {
	background-color: #595959;
	border-color: darken(#595959, 10%);
	margin-right: 6.01%;
}

@media (max-width: 569px) {
  .btn-l {
		margin-left: 6.01%;
		margin-bottom: 28px;
	}
}

.btn-active {
	background-color: #D6C537;
	color: #333333;
}

.btn-r:focus, .btn-r:active, .btn-r:visited {
	background-color: #01b0f0;
}

.btn-r:hover {
	text-shadow: darken(#01B0F0, 20%) 0px 0px 2px;
	text-decoration:underline;
	background-color: darken(#01b0f0, 5%);
}

.btn-l:focus, .btn-l:active, .btn-l:visited {
	background-color: #595959;
}

.btn-l:hover {
	text-shadow: lighten($base_dark_color, 0%) 0px 0px 0px;
	text-decoration:underline;
	background-color: lighten(#595959, 10%);
}

.btn-l2:hover {
	text-shadow: lighten($base_dark_color, 0%) 0px 0px 0px;
	background-color: lighten(#595959, 0%);
}

.carousel-control {
  border-width:0px;
}


.btn-active:focus, .btn-active:active, .btn-active:visited {
	text-shadow: lighten(#333333, 10%) 0px 0px 0px;
	text-decoration:none;
	background-color: #D6C537;
	color: #333333;
}

.btn-active:hover {
	text-shadow: lighten(#333333, 10%) 0px 0px 0px;
	text-decoration:none;
	background-color: #D6C537;
	color: #333333;
	cursor: default;
}

.year_box {
	margin: 0px 0px 4px 0px;
}

.year_box2 {
	margin: 0px 0px 4px 0px;
}


.title_light {
	color: lighten($base_dark_color, 35%);
}

.title_separator {
/*	color: lighten($base_dark_color, 25%); */
	font-size: 1.35em;
}

.title_separator_light {
	color: lighten($base_dark_color, 35%);
	font-size: 1.35em;
}

div.footer {
	font-family: $title_txt, Arial, sans-serif;
	color: $base_dark_color;
	font-size: 1.95em;
	text-align: center;
	text-shadow: #999999 0px 0px 2px;
}


/* carousel customization */

.carousel-caption {
	position: static;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #ffffff;
	
	.carousel-caption h4 {
	  margin: 0 0 5px;
	}

	.carousel-caption p {
	  margin-bottom: 0;
	}
}

.carousel-control {
	top: 40px;
}



/*site-specific css*/

.main_pic {
	display: inline-block;
	background: #ffffff;
	width:130px;
	height:130px;
	text-align:center;
	vertixal-align:middle;
	-webkit-border-radius: 90px;
	border-radius: 90px;
	border-style: solid;
	border-width: 7px;
	border-color: #595959;
	background-image: url(http://media.rtv.net/image/201203/full/academia_de_studii_economice_ase_13485200.jpg);
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	background-position-x: 0px;
	background-position-y: 0px;
	margin-bottom: 10px;
}

.slider_pic {
	display: inline-block;
	background: #ffffff;
	width:80%;
	height:130px;
	text-align:center;
	vertixal-align:middle;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-image: url(http://media.rtv.net/image/201203/full/academia_de_studii_economice_ase_13485200.jpg);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: -280px;
	margin-bottom: 30px;
	margin-top: -10px;
}

.slide_pic {
	display: inline-block;
	background: #ffffff;
	width:30%;
	height:130px;
	text-align:center;
	vertical-align:middle;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	margin-bottom: 30px;
	margin-top: -10px;
}

.slide_title {
	margin-bottom: 40px;
	margin-top: 0px;
}

.pres-ctrl {
	top: 36px;
}

.pres-ctrl-narrow {
	top: 0px;
	width:40px;
	height:40px;
}

.pres-ctrl:hover, .pres-ctrl-narrow:hover {
	text-decoration:none;
}

@media (max-width: 940px) {
	.pres-ctrl {
		display: none;
	}
}

.carousel-controls-narrow {
	position:relative;
	width: 140px;
	height: 40px;
	text-align: center;
	display: inline-block;
	margin-top:30px;
}

@media (min-width: 941px) {
	.carousel-controls-narrow {
		display: none;
	}
}

.btn-l2 {
	margin-left: 0px;
	margin-right: 0px;
}

.slide-item {
	margin-bottom: 10px;
}

.carousel-caption {
	padding-top: 10px;
	background-color: transparent;
}

.item-slide {
	padding: 0px;
}

#presentation {
	display: none;
}

/*controls show on mouseover*/
/*.carousel-control, .carousel-controls-narrow { visibility: hidden; }
.carousel:hover .carousel-control, .carousel:hover .carousel-controls-narrow { visibility: visible; }*/

#title_img {
  display: inline-block;
  width: 10%;
  height: 10%;
  -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0px 40px 15px 0px;
	cursor: hand;
	cursor: pointer;
	border:5px solid #333333;
}

.section {
  margin-bottom: 40px;
}

.close_presentation {
  display: block;
  margin: 0px 0px 20px 0px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: lighten(#0088cc, 00%);
	font-size: 1.05em;
	text-shadow: lighten($base_dark_color, 70%) 0px 0px 0px;
	text-decoration: underline;
}

.go-to-top {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.record {
  padding-bottom: 30px;
}

.control {
  display: inline-block;
  padding: 1px 4px;
  -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.control_active {
  background-color: darken(#ffffff, 5%);
}

.tag_active {
  display: inline-block;
  padding: 4px;
  margin: 4px;
  line-height: 1.01em;
  -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: lighten(#D6C537, 0%);
	color: #ffffff;
}

.tag_active:hover, .tag_active:visited, .tag_active:focus, .tag_active:active {
  color: #ffffff;
}

div.info_box {
  position: fixed;
  display: none;
  right: 5px;
  bottom: 5px;
  color: #333333;
  opacity: 0.9;
  filter: alpha(opacity=90);
  -moz-box-shadow: 2px 2px 2px lighten(black, 40%);
  -webkit-box-shadow: 2px 2px 2px lighten(black, 40%);
  box-shadow: 2px 2px 2px lighten(black, 40%);
}

div.info_box:hover {
  color: #333333;
}

.infobox_highlight {
  font-weight: bold;
  text-decoration: underline;
  color: #ffffff;
}

hr.top_hr {
  margin-top:20px;
}

div.record_tags {
  margin-top: 0.51em;
}

div.controls {
  margin-bottom: 20px;
}


ul.record_description_container {
  margin: 0px 0px 0px 0px;
  list-style: none;
  li:before {
    content: "\2022";
    margin: 0px 3px 0px 0px;
  }
  li {
    font-family: "SourceSansProLight", Arial, sans-serif;
    margin-bottom: 0.55em;
    color: #595959;
  }
}

span.tag_cloud_separator {
  color: lighten(#333333, 30%);
}

.sidebar_sections {
  margin-bottom: 50px;
}

div.record_industries {
  font-size: 1.01em;
  span.industry, span.industry_employees {
    font-family: "SourceSansProLight", Arial, sans-serif;
    font-size: 1.05em;
    color: #595959;
  }
  
  span.industry_separator {
    font-family: "SourceSansProLight", Arial, sans-serif;
    display: inline-block;
    margin: 0px 9px 0px 9px;
    color: lighten(#333333, 50%);
  }
}

img.flags_pic {
  display: inline-block;
  width: 15%;
  height: 15%;
  -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0px 40px 15px 0px;
	cursor: hand;
	cursor: pointer;
	border:5px solid #ffffff;
}

img.flags_pic:hover, img.interests_pic:hover {
  border:5px solid #D6C537;
}


img.interests_pic {
	display: inline-block;
  width: 50px;
  height: 50px;
  -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0px 40px 15px 0px;
	cursor: hand;
	cursor: pointer;
	border:5px solid #ffffff;
}


.row-fluid .span8 p.l_infobox {
  font-family: "SourceSansProLight", Arial, sans-serif;
  font-size: 1.65em;
  color: #595959;
  span.lang {
    font-family: "SourceSansProSemibold", Arial, sans-serif;
  }
}


.row-fluid .span8 p.i_infobox {
  font-family: "SourceSansProLight", Arial, sans-serif;
  font-size: 1.65em;
  color: #595959;
}

.i_infobox {
  height: 60px;
}

.l_infobox {
  height: 30px;
}

.section_compact {
  margin-bottom:0px;
}

.row-fluid .span4 h4{
  margin-bottom: 0.75em;
}

.side_item_box {
  margin: 0px 0px 10px 0px;
}

.row-fluid .span4 p.side_item_container {
  margin-bottom: 0px;
}

a.side_item {
  font-family: SourceSansProSemiBold, Arial, sans-serif;
}

.row-fluid .span4 p.side_info {
  font-family: SourceSansProLight, Arial, sans-serif;
  font-size: 14px;
  margin-top: 0px;
}

/* print settings */

.print_name {
  display:none;
}

@media print {
  .noPrint {
    display:none;
  }
  
  .pagebreak { 
    page-break-after: always; 
  }
  
  .print_name {
    display: block;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .row-fluid .span8, .row-fluid .span4 {
    width:100%;
    margin-left: 0px;
    padding-left: 0px;
  }
}